---
import { formations } from "../../data/formations";
import DownloadButton from "./DownloadButton.astro";

const { formationKey } = Astro.props;

// Récupérer toutes les clés de formations sauf celle en cours
const otherFormationKeys = Object.keys(formations).filter(key => key !== formationKey);

const backgroundImages: Record<string, string> = {
  browlift: '/assets/browlift.png',
  botox: '/assets/botox.png',
  prothesiste: '/assets/ongle.png',
};
---

<div class="flex flex-col md:flex-row gap-6 mx-5 md:mx-32 2xl:mx-72 justify-center md:justify-start">
  {otherFormationKeys.map(key => (
      <section class="formation-card flex flex-col items-center justify-between mx-2 md:mx-0 border border-white rounded-bl-3xl transition-all duration-300 md:w-1/3">
        <header class="flex flex-col gap-1 justify-center 2xl:h-36 bg-cover bg-center p-5 w-full" style={`background-image: url('${backgroundImages[key]}')`}>
          <h3 class="text-white font-bestley font-semibold text-sm">{formations[key].surTitle}</h3>
          <h3 class="text-white font-bestley font-semibold text-sm">{formations[key].subTitle}</h3>
          <h3 class="text-white text-xl font-bestley font-semibold ">{formations[key].title}</h3>
        </header>
        <div class="flex flex-row items-center justify-center gap-2 pt-5 2xl:pt-5">
          <img src="/assets/icons/time.svg" alt="time" class="w-6 h-6">
          <p class="text-white font-semibold">{formations[key].duration}</p>
        </div>
        <section class="flex flex-col items-center justify-center px-5 pt-5 2xl:py-5">
          <p class="text-white text-sm">
            {formations[key].cards}
          </p>
        </section>
        <div class="pb-4 w-full px-5">
          <DownloadButton 
            filePath={formations[key].brochure.path} 
            fileName={formations[key].brochure.fileName}
            isCard={true}
            formationLink={`/${key}`}
          />
        </div>
      </section>
  ))}
</div>

<style>
.gradient-text {
  background-image: linear-gradient(
    45deg,
    rgba(65, 88, 208, 1) 0%,
    rgba(199, 81, 192, 1) 50%,
    rgba(255, 203, 112, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.formation-card {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
              box-shadow 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
              border 0.4s ease;
  will-change: transform, box-shadow;
  backface-visibility: hidden;
}

.formation-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 
    0 0 12px 1px rgba(65, 88, 208, 0.5),
    0 8px 15px 0px rgba(199, 81, 192, 0.5),
    0 -8px 15px 0px rgba(255, 203, 112, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
</style>